<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS z} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } - [%t] %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS z} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } - [%t] %m%n</pattern>
        </encoder>
        <file>${APP_LOG_DIR:-logs}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${APP_LOG_DIR:-logs}/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE-ROLLING"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
